@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



.font-ital{
    font-family: "Inter", sans-serif;
}

.font-raleway{
    font-family: "Raleway", sans-serif;
}

.fillbox{
    display: flex;
    gap: 36px;
    justify-content: space-between;
}


/* div.classList.add("flex justify-between pr-16  font-ital text-base gap-36 mt-4") */